a.login {
    position: relative;
    top: 12px;
    right: 15px;
    color: beige;
    font-family: "Arial", sans-serif;
} /*h4 {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    padding:20px 50px;
}
  h3 {
      background-color: darkblue;
      color:white !important;
      text-align: center;
      padding:30px 50px;
  }*/
a.login-footer {
    background-color: #f9f9f9;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: darkred;
    cursor: pointer;
    color: whitesmoke;
}


.btn-info {
    background: #37BC9B;
    color: #ffffff;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}

.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}

