


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    /* background-color: #F1C40F; */
    background: #2fe2bf;
    cursor: pointer;
    color: #111111;
}

.table-hover {
    background-color: #1abc9c;
    color: #111110;
}




.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 2px;
    margin-left: 20px;

}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;

}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 4px;
    font-size: 20px;
    color: #111;
}



